<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
    <title>Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/stylesheets/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/books">Books</a>
        </li>
        <li>
            <a href="/authors">Authors</a>
        </li>
        <li>
          <a href="/add">Contribute</a>
      </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li >
          <a href="/login" >Login</a>
        </li>
        <li  style="margin:4px; padding:8px;border: 2px solid white; border-radius: 5px;">
          <a href="/signup" style="padding: 0; margin:0">Signup</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%- body %>

<div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Me</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="https://twitter.com/Krishnanunni25"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="https://www.facebook.com/krishnanunni.sunil.7/"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="mailto:kitchusunil25@gmail.com"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>
  
  <hr>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/krishnanunni.sunil.7/"><i class="icon-facebook icon-2x"></i></a></li>
            <li><a href="https://twitter.com/Krishnanunni25"><i class="icon-twitter icon-2x"></i></a></li>
            <li><a  href="mailto:kitchusunil25@gmail.com"><i class="icon-google-plus icon-2x"></i></a></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        <div class="col-sm-6">
            <p class="pull-right"> <i class="icon-heart-empty">   </i> Krishnanunni Sunil</p>      
        </div>
      </div>
    </div>
  </footer>
      <!-- script references -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
          <script src="/javascripts/bootstrap.min.js"></script>
      </body>
  </html>